# Home Assistant runtime
home-assistant_v2.db
home-assistant_v2.db-*
*.log
*.db
*.db-wal
*.db-shm

# Dossiers internes
.storage/
deps/
.cloud/
.custom_components/__pycache__/
__pycache__/
*.pyc

# Secrets et clés
secrets.yaml

# OS/éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
